*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 80vw;
    height: 800px;
    border: 2px solid red;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    /* grid-template-rows: 100px; */
    /* justify-content: center;
    align-content: center; */
    /* place-content: center; */
    /* align-items: start;
    justify-items: start; */
    place-items: space-between end;
    grid-auto-rows: 100px;
    gap: 20px ;
}

.item{
    background-color: #487eb0;
    color: #fff;
    padding: 4px;
    border: 2px solid black;
}
/* 
.item2{
    grid-column: 2 / 4;
    grid-row: 2 / 4;
} */