@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:ital,wght@0,400;1,100&family=Source+Sans+Pro:wght@300&family=Varela+Round&display=swap');

:root {
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-heading {
    text-align: center;
    margin: 1.6rem auto;
}

.box {
    position: relative;
    max-width: 500px;
    max-height: 600px;
    margin: 0 auto;
}

.box .bg-image {
    display: block;
    width: 100%;

}

.box .box-content {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 2;
    transition: all 0.4s ease-in-out;
}

.box:hover .box-content{
    opacity: 1;
    left: 50%;
}

.box .box-content .box-heading{
    font-size: 1.4rem;
}

.box::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.407);
    opacity: 0;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

.box:hover::after{
    opacity: 1;
}


.box .box-content .btn-box {
    display: inline-block;
    text-decoration: none;
    background-color: #454545;
    color: #fff;
    padding: 0.5em 1.2em;
    margin-top: 0.8rem;
}

.box .box-content .btn-box:hover{
    background-color: #232323;
    
}